#dont save database
server/data/*
#but do save some of it
!server/data/COMMON.txt
!server/data/RANKING.txt
!server/data/PRICE.txt
!server/data/schema.yml

#dont save temp stuff
tmp/

#or old stuff
old/

#client build files
client/lib/
client/node_modules/
client/bower_components/
client/www/
