#dont save database
data/
#but do save some of it
!data/COMMON.txt
!data/RANKING.txt
!data/PRICE.txt
!data/schema.yml

#dont save temp stuff
tmp/

#or old stuff
old/

#client build files
client/lib/
client/node_modules/
client/bower_components/
